@media (max-width: 480px) {
    .card {
      font-size: 16px;
      width: 100%;
    }
  }
  

body {
    font-family:  'Instrument Sans';
}
.rg{
    color: rgb(74,162,174);
    border-color: rgb(74,162,174);
    font-family: 'Instrument Sans';
    
}
.h1.heading{
    font-size: 60px;
    font-weight: 600;
   
}
.feature{
    font-family: 'Instrument Sans';
    
}
.warn{
 font-family: 'inter';   
}
.side-image{
    width: 537px;
    height: 'auto';
}
li.list{
    margin-top: 14px;
}
.nav-1{
    padding: 20px 52px;
}
.fnt{
    font-family: "instrument sans";
}
